@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #131722;
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
}

.products h3 {
  width: 20%;
  margin-top: 5%;
}
.border {
  background-color: #787575;
  height: 0.1rem;
  width: 19%;
  margin: 30px 0px;
}
.box-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -22%;
  margin-left: 12%;
}

.box {
  /*background-color: #fff;*/
  width: 25.25em;
  box-shadow: 0 5px 25px rgba(15, 70, 125, 0.51);
  border-radius: 15px;
  padding: 16px;
  margin: 15px;
  transition: 0.7s ease;
}

.box:hover {
  transform: scale(1.1);
  background-color: #dcdcdc;
  cursor: pointer;
}

.box-container .box img {
  height: 15rem;
  width: 100%;
}

.box-container .box h3 {
  color: #fff;
  font-size: 0.9rem;
  padding: 1rem 0;
  text-align: center;
  text-transform: capitalize;
  margin-left: 2%;
  width: 100%;
}

.box-container .box p {
  color: rgb(13, 91, 123);
  width: 100%;
}

@media (max-width: 1023px) {
  .products h3,
  p,
  .border {
    width: 10%;
    margin-top: 2%;
    margin-left: -2%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 40%;
  }

  section {
    padding: 2rem;
  }

  .box-container .box img {
    height: 20rem;
    /* margin-left: 7rem; */
  }

  .products h3,
  p,
  .border {
    width: 20%;
    margin-top: 2%;
    margin-left: -2%;
  }
  /*  
 .products .box-container .box2 .image img{
     margin-left: 7.5rem;
 }

 .products .box-container .box2 .content .stars{
     margin-left: 4.5rem;
 }
  */
}

@media (max-width: 552px) {
  .about .row .image img {
    margin-top: 10%;
  }
}
